.container{
    
    width: 50%;
    color: white;
    margin-left: 25%;

}

h1{
    font-family: "Libre Baskerville" serif;
    text-align: center;
    font-weight: lighter;
    font-size: 3rem;
}

*{
    background-color: black;
    color: white;
}

img{
    width: 100%;
    border: 5px solid white;
    margin-top: 10%;
}

p{
    text-align: center;
    font-size: 1.3rem;
}